ion-title{
    font: bold;
    color:rgb(11, 0, 80); 
}
ion-menu-button{
    color:rgb(11, 0, 80);
}
.tollbar{
    --background:rgb(171, 204, 248);
}
img{
    width: 100px;
}

.qnt{
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
}
.trash{
    --background: #eb445a ;
    padding-left: 3px;
}

.variadores{
    width: 25px;
    height: 25px;
}
.alert{
    text-align: center;
}
.cart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 200px;
}
.msg{
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
    font-weight:bold;
}
.buttons{
    display: flex;
    flex-direction: row-reverse;
    width:60%;
}
.total{
    width:140%;
}