<ion-header [translucent]="true">
  <ion-toolbar class="tollbar">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <h2 *ngIf="carrinhoVazio()" class="alert" margin-left>Seu carrinho esta vazio!</h2>
    <img *ngIf="carrinhoVazio()" class="cart" src="assets/cart.png" alt="logo">
    <h2 *ngIf="carrinhoVazio()" class="msg" margin-left>Clique em "VER CATEGORIAS" para iniciar suas compras</h2>
    <ion-item *ngFor="let item of carrinho.itens; let i = index">
        <ion-thumbnail slot="start">
          <img src="{{item.produto.imageUrl}}">
        </ion-thumbnail>
        <ion-label>
          <p>{{item.produto.nome}}</p>
        </ion-label>
        <ion-button class="variadores" (click)="removerItem(item)">
          <ion-icon name="remove"></ion-icon>
        </ion-button>
        <p class="qnt">{{item.quantidade}}</p>
        <ion-button class="variadores" (click)="adicionarItem(item)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button class="trash" (click)="removerTudo(item)">
          <ion-icon name="trash-bin"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <h2 class="total" *ngIf="!carrinhoVazio()">Total: {{total|currency:'R$'}}</h2>
        <div class="buttons">
          <ion-button *ngIf="!carrinhoVazio()" class="trash" (click)="esvaziarCarrinho()" >
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!carrinhoVazio()" class="update" (click)="atualizar()" >
            <ion-icon name="refresh"></ion-icon>
          </ion-button></div>
      </ion-item>
      <ion-button *ngIf="!carrinhoVazio()" expand="block" (click)="finalizarCompra()" >Finalizar Pedido</ion-button>
      <ion-button *ngIf="!carrinhoVazio()" expand="block" (click)="continuarComprando()" >Continuar Comprando</ion-button>
      <ion-button *ngIf="carrinhoVazio()" expand="block" (click)="continuarComprando()" >Ver Categorias</ion-button>
    </ion-list>
</ion-content>
