<ion-header [translucent]="true">
  <ion-toolbar class="tollbar">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itens.itens; let i = index">
        <ion-thumbnail slot="start">
          <img src="{{bucketUrl}}">
        </ion-thumbnail>
        <ion-label>
          <p>{{item.produto.nome}}</p>
        </ion-label>
        <ion-button>-</ion-button>
        <p>{{item.quantidade}}</p>
        <ion-button>+</ion-button>
      </ion-item>
      <ion-item>
        <h2>Total: {{total|currency:'R$'}}</h2>
      </ion-item>
      <ion-button expand="block" (click)="finalizarCompra()" >Finalizar Compra</ion-button>
  </ion-list>
</ion-content>
