<ion-header>
  <ion-toolbar class="tollbar">
    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{formatarDoc(clienteNewDto.cpfOuCnpj)}}
  {{formatarCep(clienteNewDto.cep)}}
<form name="formulario"(ngSubmitt)=" $event.preventDefault()">
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.nome" name="nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.email" name="email" type="text"></ion-input>
  </ion-item>
  <ion-radio-group name="tipo">
    <ion-list-header>Tipo de Cliente</ion-list-header>
    <ion-item>
      <ion-label >Pessoa Fisica</ion-label>
      <ion-radio   (click)="change(1)" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label >Pessoa Juridica</ion-label>
      <ion-radio (click)="change(2)" ></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-item>
    <ion-label position="stacked">{{tipo}}</ion-label>
    <ion-input  [(ngModel)]="clienteNewDto.cpfOuCnpj" name="cpfcnpj"  maxlength="{{tam}}"  type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.senha" name="senha" clearOnEdit="false" type="password" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Logradouro</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.logradouro" name="logradouro" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Numero</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.numero" name="numero" type="number" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Complemento</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.complemento "complemento name="complemento" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Bairro</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.bairro" name="bairro" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cep</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.cep" name="cep" maxlength="9" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input [(ngModel)]="clienteNewDto.telefone1" name="telefone" type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Estados</ion-label>
    <ion-select [(ngModel)]="estadoSelected" name="estados" cancelText="Cancelar" okText="Confirmar"  interface="action-sheet" (ngModelChange)="updateCidades(estadoSelected)">
      <ion-select-option  *ngFor="let e of estados; let i = index"  value="{{e.id}}">{{e.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cidade</ion-label>
    <ion-select [(ngModel)]="cidadeSelected" name="cidade" cancelText="Cancelar" okText="Confirmar" interface="action-sheet" (ngModelChange)="adicionarCidade(cidadeSelected)">
      <ion-select-option  *ngFor="let c of cidades; let i = index"  value="{{c.id}}" >{{c.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" type="submit" (click)="signupUser()">Criar conta</ion-button>

</form>
</ion-content>
