<ion-header [translucent]="true">
  <ion-toolbar class="tollbar">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item  button (click)="goCategoria(item.id)"  *ngFor="let item of itens; let i = index">
        <ion-thumbnail slot="start">
          <img src="{{bucketUrl}}">
          <!-- "{{bucketUrl}}/cat/{{item.id}}.jpg" -->
        </ion-thumbnail>
        <ion-label>{{item.nome}}</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
