
<ion-content [fullscreen]="true">
  <h1>Sistema de Pedidos</h1>
  <img src="assets/logo.png" alt="logo">

  <form>
    <ion-item>
      <ion-label  position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="creds.email" name="email" type="text"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label  position="stacked">Senha</ion-label>
      <ion-input clearOnEdit="false" [(ngModel)]="creds.senha" name="senha" type="password"> </ion-input>
    </ion-item>
    <ion-button  expand="block"  (click)="login()">Entrar</ion-button>
  </form>
  <ion-button expand="block" (click)="signup()" fill="outline">Cadastrar</ion-button>
</ion-content>
